@import "tailwindcss";

@font-face {
  font-family: "Nasalization";
  src: url("/Nasalization Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c293b;
    --foreground: #ededed;
  }
}

body {
  background: #101727;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animated-divider {
  position: relative;
  overflow: hidden;
}

.animated-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(251, 191, 36, 0.3) 50%,
    transparent 100%
  );
  animation: lightSweep 4s linear infinite;
}

@keyframes lightSweep {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}

.animated-bottom-border {
  overflow: hidden;
}

.animated-bottom-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30%;
  width: 40%;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(251 190 36 / 0.47) 40%,
    transparent 100%
  );
  animation: lightSweep 4s linear infinite;
}

@keyframes lightSweep {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}
